@font-face {
	font-family: "glyphicons";
	src: url('../fonts/glyphicons.eot');
	src: url('../fonts/glyphicons.eot?#iefix') format('eot'),
		url('../fonts/glyphicons.woff2') format('woff2'),
		url('../fonts/glyphicons.woff') format('woff'),
		url('../fonts/glyphicons.ttf') format('truetype'),
		url('../fonts/glyphicons.svg#glyphicons') format('svg');
}

@mixin icon-styles {
	font-family: "glyphicons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arrow-down {
		$char: "\E001";
	}
	@if $filename == arrow-left {
		$char: "\E002";
	}
	@if $filename == arrow-right {
		$char: "\E003";
	}
	@if $filename == arrow-up {
		$char: "\E004";
	}
	@if $filename == google {
		$char: "\E005";
	}
	@if $filename == remove {
		$char: "\E006";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arrow-down {
	@include icon(arrow-down);
}
.icon-arrow-left {
	@include icon(arrow-left);
}
.icon-arrow-right {
	@include icon(arrow-right);
}
.icon-arrow-up {
	@include icon(arrow-up);
}
.icon-google {
	@include icon(google);
}
.icon-remove {
	@include icon(remove);
}
